#bigImg {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.mynav {
    background-color: #2F4F4F;
}

.first-nav {
    background-color: #CD5C5C;
}

div#bgc {
    position: relative;
    margin-top: -21px;
}

h1 {
    font-family: 华文隶书;
    position: absolute;
    left: 25%;
    top: 25%;
    font-size: 6em;
}

#start-btn {
    position: absolute;
    left: 45.6%;
    top: 62%;
}

@media screen and (max-width: 380px) {
    h1 {
        position: absolute;
        left: 17.5%;
        top: 11%;
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
    }
    #start-btn {
        position: absolute;
        left: 33%;
        top: 52%;
    }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
    h1 {
        position: absolute;
        left: 20%;
        top: 12%;
        font-size: 2.5em;
    }
    #start-btn {
        position: absolute;
        left: 37%;
        top: 55%;
    }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
    h1 {
        position: absolute;
        left: 20%;
        top: 15%;
        font-size: 3em;
    }
    #start-btn {
        position: absolute;
        left: 40%;
        top: 56%;
    }
}

@media screen and (min-width: 650px) and (max-width: 810px) {
    h1 {
        position: absolute;
        left: 22.5%;
        top: 15%;
        font-size: 3.5em;
    }
    #start-btn {
        position: absolute;
        left: 42%;
        top: 57%;
    }
}

@media screen and (min-width: 810px) and (max-width: 1100px) {
    h1 {
        position: absolute;
        left: 23%;
        top: 15%;
        font-size: 5em;
    }
    #start-btn {
        position: absolute;
        left: 44.5%;
        top: 57%;
    }
}

.progress-bar-purple {
    background-color: purple;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.text-purple {
    color: purple;
}

.text-brown {
    color: brown;
}

td {
    font-size: 1.3em;
}

.p1,
.p2,
.p3 {
    text-indent: 2em;
}

#notes,
#essay,
#diary {
    height: 200px;
}

a,
a:hover,
a:link,
a:visited,
a:active {
    color: white;
    text-decoration: none;
    display: block;
}

#footer {
    background-color: black;
    width: 100%;
    height: 124px;
    margin-bottom: -10px;
}

.github,
.email,
.QQ,
.tel {
    text-align: center;
    font-size: 15px;
    color: white;
    margin: 10px auto;
}

.foot {
    width: 20px;
    height: 20px;
    background-color: white;
}

@media screen and (min-width: 263px) and (max-width: 310px) {
    #footer {
        background-color: black;
        width: 100%;
        height: 148px;
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 263px) {
    #footer {
        background-color: black;
        width: 100%;
        height: 167px;
        margin-bottom: -10px;
    }
}

#github a:link,
#github a:visited {
    color: white;
}
